@import '../../assets/styles/variables.css';

header {
  padding: 1rem 0;
  
}

.navbar {
  background-color: #020001;
}

.navbar-brand {
  font-size: var(--header-font-size);
  color: var(--light-color);
}

.navbar-nav {
  margin-left: auto;
  width: 60%;
  gap: 15%;
  justify-content: flex;
}

.nav-item .nav-link {
  color: var(--light-color);
  font-size: var(--text-font-size);
  transition: color 0.3s ease;
}

.nav-item .nav-link:hover {
  color: var(--secondary-color);
  text-decoration: underline;
}

.navbar {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
