@import './assets/styles/variables.css';

body {
  font-family: var(--font-family);
  background-color: var(--primary-bg-color);
}

h1, h2, h3 {
  color: var(--primary-color);
}

p {
  font-size: var(--text-font-size);
  color: var(--dark-color);
}

header {
  background-color: var(--primary-color);
  color: white;
}

footer {
  background-color: var(--footer-bg-color);
  color: var(--light-color);
  padding: 1rem;
  text-align: center;
}

button {
  margin-top: 1rem;
}
